<!--
<div *ngIf="signInWithEmail; then emailForm else allOptions">
  &lt;!&ndash; template will replace this div &ndash;&gt;
</div>-->

<!--
<ng-template #allOptions>
-->
<!--<mat-dialog-content class="col-md-4">-->

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h1 class="main-heading col-md-4">Sign up</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row align-items-end">-->
<!--<div class="col-md-5" [ngClass]="animateOnRouteEnter">-->
<!--<mat-card-title>Registered Users</mat-card-title>-->
<!--<mat-card-subtitle>Select one of the following to sign in:</mat-card-subtitle>-->
<!--<button type="button" class="login-button button-google col-md-8" (click)="googleSignUp()">-->
<!--<span class="button-img-wrapper"><img class="button-img" alt="" [src]="googleLogo"></span>-->
<!--<span class="button-text button-text-google">Sign up with Google</span>-->
<!--</button>-->
<!--<button type="button" class="login-button button-facebook col-md-8">-->
<!--<span class="button-img-wrapper"><img class="button-img" alt="" [src]="facebookLogo"></span>-->
<!--<span class="button-text">Sign up with Facebook</span>-->
<!--</button>-->
<!--<button type="button" class="login-button button-twitter col-md-8">-->
<!--<span class="button-img-wrapper"><img class="button-img" alt="" [src]="twitterLogo"></span>-->
<!--<span class="button-text">Sign up with Twitter</span>-->
<!--</button>-->
<!--<button type="button" class="login-button buttonGreen col-md-8" (click)="emailSignUpClick()">-->
<!--<span class="button-img-wrapper"><img class="button-img" alt="" [src]="emailLogo"></span>-->
<!--<span class="button-text">Sign up with Email</span>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</mat-dialog-content>-->

<!--</ng-template>

<ng-template #emailForm>
<email-password-form [loginUI]="this"></email-password-form>
</ng-template>-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h1 class="main-heading col-md-8">Sign in</h1>-->
<!--</div>-->
<!--</div>-->
<div class="sign-in-dialog" mat-dialog-content>
  <mat-card-title>Registered Users</mat-card-title>
  <mat-card-subtitle>Select one of the following to sign in:</mat-card-subtitle>
  <div class="row">

    <button type="button" class="login-button button-google col-md-12" (click)="googleSignUp()">
      <span class="button-img-wrapper"><img class="button-img" alt="" [src]="googleLogo"></span>
      <span class="button-text button-text-google">Sign in with Google</span>
    </button>
  </div>
  <div class="row">

    <button type="button" class="login-button button-facebook col-md-12">
      <span class="button-img-wrapper"><img class="button-img" alt="" [src]="facebookLogo"></span>
      <span class="button-text">Sign in with Facebook</span>
    </button>
  </div>
  <div class="row">

    <button type="button" class="login-button button-twitter col-md-12">
      <span class="button-img-wrapper"><img class="button-img" alt="" [src]="twitterLogo"></span>
      <span class="button-text">Sign in with Twitter</span>
    </button>
  </div>
  <div class="row">

    <button type="button" class="login-button buttonGreen col-md-12" (click)="emailSignUpClick()">
      <span class="button-img-wrapper"><img class="button-img" alt="" [src]="emailLogo"></span>
      <span class="button-text">Sign in with Email</span>
    </button>
  </div>
</div>
