<div *ngIf="signInWithEmail; then emailForm else allOptions">
  <!-- template will replace this div -->
</div>

<ng-template #allOptions>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-heading col-md-4">Sign up</h1>
      </div>
    </div>
    <div class="row align-items-end">
      <div  class="col-md-5" [ngClass]="animateOnRouteEnter">
        <mat-card>
          <mat-card-title>New Users</mat-card-title>
          <mat-card-subtitle>Select one of the following to sign up:</mat-card-subtitle>
          <button type="button" class="login-button button-google" (click)="googleSignUp()">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="googleLogo"></span>
            <span class="button-text button-text-google">Sign up with Google</span>
          </button>
          <button type="button" class="login-button button-facebook">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="facebookLogo"></span>
            <span class="button-text">Sign up with Facebook</span>
          </button>
          <button type="button" class="login-button button-twitter">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="twitterLogo"></span>
            <span class="button-text">Sign up with Twitter</span>
          </button>
          <button type="button" class="login-button buttonGreen" (click)="emailSignUpClick()">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="emailLogo"></span>
            <span class="button-text">Sign up with Email</span>
          </button>
        </mat-card>
      </div>

      <div  class="col-md-7" [ngClass]="animateOnRouteEnter">
        <mat-card>
          <mat-card-title>Grow Your Business with BookingApp</mat-card-title>
          <mat-card-subtitle>Tell us a little about you and your restaurant, and we’ll contact you via phone or email to provide information about BookingApp’s products and services.</mat-card-subtitle>
          <form  [formGroup]="reactiveForm" (submit)="submitNewRestaurant()">
            <div class="row">
            <mat-form-field class="col-md-6">
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Last Name">
            </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-md-6">
                <input matInput placeholder="Email Address">
              </mat-form-field>
              <mat-form-field class="col-md-6">
                <input matInput placeholder="Phone Number">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-md-6">
                <input matInput placeholder="Restaurant Name">
              </mat-form-field>
              <mat-form-field class="col-md-6">
                <input matInput placeholder="Restaurant City">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-md-4">
                <input matInput placeholder="Restaurant Name">
              </mat-form-field>
              <mat-form-field class="col-md-4">
                <input matInput placeholder="Restaurant City">
              </mat-form-field>
              <mat-form-field class="col-md-4">
                <input matInput placeholder="Restaurant City">
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <button class="col-md-3" mat-raised-button type="submit" color="warn">Submit</button>
            </div>

          </form>
        </mat-card>
      </div>


<!--
    <div class="row">
      <div class="col-md-12" [ngClass]="animateOnRouteEnter">
        <mat-card class="col-md-4">
          <mat-card-title>New Users</mat-card-title>
          <mat-card-subtitle>Select one of the following to sign up:</mat-card-subtitle>
          <button type="button" class="login-button button-google" (click)="googleSignUp()">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="googleLogo"></span>
            <span class="button-text button-text-google">Sign up with Google</span>
          </button>
          <button type="button" class="login-button button-facebook">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="facebookLogo"></span>
            <span class="button-text">Sign up with Facebook</span>
          </button>
          <button type="button" class="login-button button-twitter">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="twitterLogo"></span>
            <span class="button-text">Sign up with Twitter</span>
          </button>
          <button type="button" class="login-button buttonGreen" (click)="emailSignUpClick()">
            <span class="button-img-wrapper"><img class="button-img" alt="" [src]="emailLogo"></span>
            <span class="button-text">Sign up with Email</span>
          </button>
        </mat-card>

        <mat-card class="col-md-4">
          <mat-card-title>Grow Your Business with BookingApp</mat-card-title>
          <mat-card-subtitle>Grow Your Business with BookingApp:</mat-card-subtitle>
        </mat-card>
      </div>
    </div>-->


  </div>
  </div>
</ng-template>

<ng-template #emailForm>
  <email-password-form [loginUI]="this"></email-password-form>
</ng-template>
