<h1>ASE BookingApp</h1>
<h3>Kevin Shea | Scott Hind | Carlos Gil<br>Madelynn Steinbiss</h3>

<div *ngIf="signInWithEmail; then emailForm else allOptions">
  <!-- template will replace this div -->
</div>

<ng-template #allOptions>
  <div class="login">
    <div class="login-box">
      <button type="button" class="login-button button-google" (click)="googleLogin()">
        <span class="button-img-wrapper"><img class="button-img" alt="" [src]="googleLogo"></span>
        <span class="button-text button-text-google">Sign in with Google</span>
      </button>
      <button type="button" class="login-button button-facebook">
        <span class="button-img-wrapper"><img class="button-img" alt="" [src]="facebookLogo"></span>
        <span class="button-text">Sign in with Facebook</span>
      </button>
      <button type="button" class="login-button button-twitter">
        <span class="button-img-wrapper"><img class="button-img" alt="" [src]="twitterLogo"></span>
        <span class="button-text">Sign in with Twitter</span>
      </button>
      <button type="button" class="login-button buttonBlue" (click)="emailLoginClick()">
        <span class="button-img-wrapper"><img class="button-img" alt="" [src]="emailLogo"></span>
        <span class="button-text">Sign in with Email</span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #emailForm>
    <email-password-form [loginUI]="this"></email-password-form>
</ng-template>
