$ba-primary: mat-palette($mat-indigo, 800, 300, 900);
$ba-accent: mat-palette($mat-light-blue);
$ba-warn: mat-palette($mat-pink, 600);

$ba-blue-theme: mat-light-theme($ba-primary, $ba-accent, $ba-warn);
