<div class="background">
  <div class="gradient">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h1 class="main-heading">Book restaurant reservations the easy way</h1>
        </div>
      </div>

      <div class="row align-items-end">
        <div class="col-md-12" [ngClass]="animateOnRouteEnter">

          <mat-card>
            <form class="row" [formGroup]="reactiveForm" (submit)="findTable()">
              <mat-form-field class="col-md-2 icon-form-field">
                <mat-select placeholder="Party Size" formControlName="partySize">
                  <mat-option *ngFor="let size of partySizes" [value]="size.value">{{size.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-2 icon-form-field">
                <input matInput placeholder="Date" formControlName="date" [min]="startDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDate" disabled="false"></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="col-md-2 icon-form-field">
                <mat-select placeholder="Time" formControlName="time">
                  <mat-option *ngFor="let time of times" [value]="time.value">{{time.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-4 icon-form-field">
                <input matInput placeholder="Location, Restaurant, or Cuisine">
              </mat-form-field>
              <button mat-raised-button type="submit" color="warn" class="col-md-2">Find a Table</button>
            </form>
          </mat-card>

        </div>
      </div>

    </div>
  </div>
</div>
